######################
# All
######################
tmp


######################
# Eclipse
######################
.classpath
.project
.settings


######################
# IntelliJ
######################
.idea
*.iml
*.iws
*.ipr
*.ids


######################
# Windows
######################
# Windows image file caches
Thumbs.db


######################
# SASS
######################
.sass-cache/
*.css.map
